@import '../../style/fonts.scss';

@mixin inputs {
  padding: 10px;
  margin: 10px 0;
  outline: none;
  @include font;
}

.choice {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 0;
  width: 100%;
  background-color: white;
  &__input-wrapper {
    width: 750px;
    margin: 10px 0 30px 0;
  }
  &__city-input {
    @include inputs;
    font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
    margin: 0;
    width: 100%;
    border-radius: 5px;
    border: 1px solid gray;
  }
  &__autocomplete {
    position: absolute;
    z-index: 5;
    background-color: #d1e8e2;
    width: 750px;
    .location {
      cursor: pointer;
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 20px;
      padding: 5px 10px;
      border-bottom: 0.5px solid rgb(150, 150, 150);
      &:last-child {
        border: none;
      }
      &:hover {
        background-color: #ffcb9a;
      }
    }
  }
  &__confirm {
    @include inputs;
    font-weight: 500;
    cursor: pointer;
    padding: 15px 50px;
    background-color: #116466;
    color: white;
    border: none;
    border-radius: 10px;
  }
  p {
    @include font;
  }
}

.error {
  @include font;
  color: #c42419;
  padding-top: 20px;
}

.input-error {
  border-color: #c42419;
}
