@import '../../style/reset.scss';

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Patrick+Hand&display=swap');

@mixin common {
  padding: 10px;
  margin: 10px 0;
  outline: none;
  font-size: 25px;
  font-family: 'Patrick Hand', cursive;
}

.choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0 5%;
  width: 50%;
  background-color: #d7dadb;
  &__city {
    @include common;
    width: 80%;
    border-radius: 5px;
    border: 1px solid gray;
  }
  &__confirm {
    @include common;
    cursor: pointer;
    padding: 15px 50px;
    background-color: #008cba;
    color: white;
    border: none;
    border-radius: 10px;
  }
  &__describ {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  p {
    font-size: 30px;
    font-family: 'Patrick Hand', cursive;
  }
}
